 <div class="form">
     <input type="text" class="input" placeholder="Username">
       <div class="break"></div>
     <input type="text" class="input" placeholder="E-mail">
       <div class="break"></div>
     <input type="password" class="input" placeholder="Password">
  </div>
       <div class="btn btntxt">Begin</div>