<!DOCTYPE html>
<html>
<head>
  <title>Register or Login</title>
  <%= stylesheet_link_tag    "registration", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "registration", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
